.miniCard {
  border: 2px solid #d6ebff;
  height: 200px;
  position: relative;
  background-color: #f6f6f6;
  & .img {
    width: 80%;
  }
  .buttonStyle {
    background-color: #d6ebff;
    border: none;
    color: #213b64;
    display: flex;
    justify-content: center;
    margin: 5px 0px 0 12px;
    padding: 0.2rem 0.4rem;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: Lato;
    width: 90%;
    position: absolute;
    bottom: 0;
  }
  img {
    object-fit: fill;
  }
}
