.button{
    padding: 6px 20px;
    border-radius: 5px;
    box-shadow: none;
	border: none;
    &.primary-button {
        background-color: $primary-color;
        color: $whiteColor;
        &:active {
            background-color: $green-active;
        }
    }
    &.secondary-button{
        background-color: $light-grey;
        color: $grey;
        &:active {
            background-color: $grey-active;
        }
    }
}
.tag{
    background-color: transparent;
    padding: 5px;
    border: 1px solid $grey;
    border-radius: 5px;
    margin: 5px;
}
.pad-10{
    padding: 10px;
}

.mar-10{
    margin: 15px;
}

.printIcon {
    width: 25px;
}

.invalid{
    color: $validColor;
}
.signin{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.content-section{
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    background: $whiteColor;
    padding: 20px;
    & .ant-tabs{
        width: 100%;
        margin: 0px 20px;
    }
    &.flex-flow-column{
        flex-flow: column;
    }
}
.container_relative {
    position: relative;
}
.headerBackground {
    background-color: $whiteColor;
}
.search_input {
    border: none;
    background: $background2;
    border-radius: 11px;
    padding: 5px 10px;
    margin-left: 10px;
    input {
        border: none;
        outline: none;
        background: none;
    }
    input:focus {
        color: $textColor;
    }
}
.ant-table-wrapper{
    width: 100%;
    padding: 15px;
}
.ant-tabs {
    & .ant-table-wrapper{
        width: 100%;
        padding: 0px;
    }
}