@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: normal;
  src: local("MyFont"),
    url("../assests/fonts/inter/Inter-Regular.ttf") format("truetype");
}

// Colors
$yellow: #fce473;
$pink: #c71585;
$red: rgba(232, 233, 235, 0.5);
$green: #46b13d;
$green-active: #0ca000;
$blue: #1d90ff;
$grey: #999999;
$grey-active: #cecece;
$light-grey: #f1f1f1;
$black: #000000;

$whiteColor: white;
$mainContinerTtile: #1b202e;
$homeColor: rgba(232, 233, 235, 0.5);
$background2: #f6f4f4;
$fontColor1: #312828;
$textColor: #666565;
$buttonColor1: #d6ebff;
$buttonColor2: #6495ed;
$buttonColor3: #0070d2;
$buttonTextColor: #213b64;
$validColor: #c71585;
$boxshaowColor: #c3c3c3;
$borderColor: #e8e2e2;

$font40: 40px;
$font38: 38px;
$font36: 36px;
$font34: 34px;
$font32: 32px;
$font25: 25px;
$font20: 20px;
$font18: 18px;
$font16: 16px;
$font15: 15px;
$font14: 14px;
$font12: 12px;

$primary-color: $green;
$secondary-color: $yellow;

// Fonts
$serif: "inter", "Playfair Display", Georgia, serif;
$sans-serif: "Roboto", "Source Sans Pro", "Open Sans", Arial, sans-serif;
$monospace: "Inconsolata", monospace;

$primary-font: $sans-serif;
$secondary-font: $serif;

// Spacing
$mobile-space: 10px;
$desktop-space: 35px;
@import "card";
@import "product";
@import "quotations";
@import "header";
@import "common";
@import "home";
// @import "SideBar";
@import "banner";
@import "footer";
@import "login";
@import "sellerKYC";
@import "sideBarData";
@import "products";

body {
  font-family: $primary-font;
  background-color: $background2;
}
