.sellerkyc{
    padding: 10px;
    & .panel{
        box-shadow: 0px 5px 10px -2px $black;
        margin: 30px 0px;
        & .title{
            display: inline-block;
            width: 100%;
            font-size: $font32;
            height: 75px;
            padding: 10px 10px;
            background: $background2;
            box-shadow: 0px 4px 4px $black;
            padding-bottom: 80px;
        }
        & .section{
            background-color: $background2;
            padding: 10px 10px;
            background: $background2;
            box-shadow: 0px 4px 4px $black;
            & input{
                filter: drop-shadow(0px 0px 0px $black);
            }
        }
    }
}
.submit2 {
    background-color: $background2;
    padding: 50px;
    .header {
      padding: 20px 40px 50px 40px;
      background: $background2;
      box-shadow: 0px 1px 2px $black;
      span {
        font-size: $font18;
        font-weight: 700;
        color: $buttonTextColor;
      }
    }
    .body {
      padding: 20px 40px 50px 40px;
      box-shadow: 0px 4px 4px $black;
      .body_title {
        font-size: $font16;
        font-weight: 600;
        color: $buttonTextColor;
        margin-bottom: 10px;
      }
      .upload {
        width: 70%;
        background-color: $whiteColor;
        color: $textColor;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid $textColor;
        border-left: 1px solid $textColor;
        display: flex;
        padding: 15px;
      }
      .upload_img {
        width: 25px;
        height: 20px;
        margin-left: 10px;
      }
    }
    .body2 {
      padding: 20px 40px 50px 40px;
      background: $background2;
      box-shadow: 0px 4px 4px $black;
      .body_field {
        width: 50%;
        span {
          color: $textColor;
        }
        .small_text {
          font-size: $font12;
        }
      }
      .uplaod_field {
        width: 10%;
      }
      .upload2 {
        background-color: $whiteColor;
        color: $textColor;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid $textColor;
        border-left: 1px solid $textColor;
        display: flex;
        padding: 15px;
      }
      .upload_img {
        width: 25px;
        height: 20px;
        margin-left: 10px;
      }
    }
    .text_agree {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: $font16;
      color: $buttonColor3;
    }
    .text_red {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: $font16;
      line-height: 28px;
      text-transform: capitalize;
      color: $validColor;
    }
  }

  @media screen and (max-width: "1280px") {
    .submit2 .body .upload {
      width: 100%;
    }
  }
  @media screen and (max-width: "1150px") {
    .submit2 .body2 .body_field {
      width: 70%;
    }
  }
  @media screen and (max-width: "900px") {
    .submit2 .body2 .body_field {
      width: 100%;
    }
  }
  @media screen and (max-width: "500px") {
    .App_body {
    }
    .submit2 .body {
      padding: 10px 10px 10px 10px;
    }
  }
  .is-invalid {
    font-size: $font15;
    color: $validColor;
    margin: 5px;
  }