$whiteColor: white;
$background2: #f6f4f4;
$buttonColor2: #6495ed;
$black: black;
$font15: 15px;
$font14: 14px;
$font12: 12px;

.header-wrapper {
  flex: 1;
  min-height: 100vh;
  min-width: 160px;
  background: $whiteColor;
  border-right: 2px solid $background2;
  .active {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 2rem;
    font-size: $font15;
    text-decoration: none;
    background-color: $background2;
    border-right: 0.2rem solid $black;
    color: $black;
  }
  .notactive {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 2rem;
    font-size: $font15;
    text-decoration: none;
    color: $buttonColor2;
  }
  & nav {
    min-height: "100%";
  }
  & img {
    object-fit: cover;
    width: 15%;
    margin: 1rem 0 1rem 1.8rem;
  }
  & ul {
    padding-left: 0;
    margin: 0 0 0 0;
    & li {
      padding: 0px 0px;
      margin: 0px 0px;
      list-style: none;
      & span {
        font-size: $font14;
        color: $black;
        font-family: Lato;
        font-weight: bold;
        margin: 0 0 0 0px;
      }
    }
  }
  .logo{
    width: 120px;
  }
}
